<h1><%= @question.body %></h1>

		<br>
		IP Address: <%= @question.address %>
		<br>
		Latitude: <%= @question.latitude %>
		<br>
		Longitude: <%= @question.longitude %>
		<br>
		<br>

<%= form_for @comment do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :question_id, :value => params[:id] %>
			<%= f.label :Comment %>
			<br>
			<%= f.text_area :body %>
			<br>
			<%= f.submit "Submit Comment" %>
<% end %>





<% x = [] %>

	<% @user.each do |user| %>

		<% loc1 = [@question.latitude, @question.longitude] %>
		<% loc2 = [user.latitude, user.longitude] %>

		<% puts loc1 %>
		<% puts loc2 %>

          <% def distance loc1, loc2 %>
            <% rad_per_deg = Math::PI/180 %>
            <% rkm = 6371 %>
            <% rm = rkm * 1000 %>

            <% dlat_rad = (loc2[0]-loc1[0]) * rad_per_deg %>
            <% dlon_rad = (loc2[1]-loc1[1]) * rad_per_deg %>
            <% lat1_rad, lon1_rad = loc1.map {|i| i * rad_per_deg } %>
            <% lat2_rad, lon2_rad = loc2.map {|i| i * rad_per_deg } %>

            <% a = Math.sin(dlat_rad/2)**2 + Math.cos(lat1_rad) * Math.cos(lat2_rad) * Math.sin(dlon_rad/2)**2 %>
            <% c = 2 * Math::atan2(Math::sqrt(a), Math::sqrt(1-a)) %>

            <% rm * c %>
          <% end %>

  <% end %>






<% @user.each do |user| %>
		<%= link_to user.name, user_path(@user) %>

<% end %>

<% @question.comments.each do |c| %>
	<%= c.body %>
	<br>
<% end %>

<br>

<%= link_to "HOME", root_path %>