<div class="wrapper">

<header>
	<%= link_to "NEIGHBORINO", root_path, :id => "site-logo" %>
		<ul>
				<li><%=link_to current_user.name, user_path(current_user.id)%> </li>
				<li><%= link_to('sign out', sign_out_path, :method => :delete) %></li>
		</ul>
	</header>


<p class="question-body"><%= @question.body %></p>

		<br>
		IP Address: <%= @question.address %>
		<br>
		Latitude: <%= @question.latitude %>
		<br>
		Longitude: <%= @question.longitude %>
		<br>
		<br>



<%= form_for @comment do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :question_id, :value => params[:id] %>
			<%= f.label :Comment %>
			<br>
			<%= f.text_area :body %>
			<br>
			<%= f.submit "Submit Comment" %>
<% end %>



<% @user.each do |user| %>
		<%= link_to user.name, user_path(user.id) %>
		<br>

<% end %>



<% @question.comments.each do |c| %>
	<%= c.body %>
	<br>
<% end %>

<br>

<%= link_to "HOME", root_path %>

</div>