<div class="wrapper">

<header>
	<%= link_to "NEIGHBORINO", user_path(current_user.id), :id => "site-logo" %>
		<ul>
				<li><%=link_to current_user.name, user_path(current_user.id)%> </li>
				<li><%= link_to('sign out', sign_out_path, :method => :delete) %></li>
		</ul>
	</header>


<p class="question-body"><%= @question.body %></p>



<%= form_for @comment do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :question_id, :value => params[:id] %>
			<%= f.label "Got anything to add?", :id => 'comment-box-head' %>
			<br>
			<%= f.text_area :body, :class => 'comment-box' %>
			<br>
			<%= f.submit "submit comment", :class => 'comment-submitter' %>
<% end %>



<% @user.each do |user| %>
		<%= link_to user.name, user_path(user.id) %> 
		<br>

<% end %>



<% @question.comments.each do |c| %>
	<span id="commentor-username-full"><%= link_to c.user.name, user_path(c.user.id), :id => 'commentor-username' %> says: </span> <%= c.body %> <%= c.created_at.strftime("%Y-%m-%d") %>
	<br>
<% end %>

</div>