<div class="wrapper">

<header>
<%= link_to "NEIGHBORINO", root_path, :id => "site-logo" %>
	<ul>
			<li><%=link_to "MY PROFILE", user_path(current_user.id)%> </li>
			<li><%= link_to('LOG OUT', sign_out_path, :method => :delete) %></li>
	</ul>
</header>

<% if current_user %>

	<% if flash[:notice] %>
			<div class="flash-notice">
				<%=flash[:notice] %>
			</div>

	<% end %>

		<p>Signed In As: <h1><%= link_to current_user.name, user_path(@user) %></h1>



		<br>
		Twitter Handle: <%= current_user.twitter_handle %>
		<br>



		City: <h3>
		<%= current_user.address1 %>
		<%= current_user.city %>, <%= current_user.state %>, <%= current_user.zip %></h3>
		</p>
		<%= button_to "Edit My Account", edit_user_path(@user), method: :get %>
		<%= button_to "Delete My Account", "user_delete", method: :delete %>
		<%= button_to "Sign Out", "sign_out", method: :delete %>


	<% if @question %>
		<% @question.each do |q| %>

			<%= q.body %> - <%= q.user.name %>
		<% end %>
	<% end %>



<% else %>

	<body id="sign-in-body">

		<div id="modal">
  	</div>

  	<% if flash[:notice] %>
			<div class="flash-notice">
				<%=flash[:notice] %>
			</div>
		<% end %>

		<p class="signin-logo">NEIGHBORINO</p>
		<div id="login-button-wrapper"><%= link_to "LOGIN / SIGN-UP", "auth/twitter",  :id => "twitter-login" %></div>
	</body>

<% end %>

</div>
