<p class="signin-logo">neighborino</p>


<% if current_user %>

		<p>Signed In As: <h1><%= link_to current_user.name, user_path(@user) %></h1>



		<br>
		Twitter Handle: <%= current_user.twitter_handle %>
		<br>



		City: <h3>
		<%= current_user.address1 %>
		<%= current_user.city %>, <%= current_user.state %>, <%= current_user.zip %></h3>
		</p>
		<%= button_to "Edit My Account", edit_user_path(@user), method: :get %>
		<%= button_to "Delete My Account", "user_delete", method: :delete %>
		<%= button_to "Sign Out", "sign_out", method: :delete %>

<% else %>

		<%= link_to "Twitter Login", "auth/twitter" %>

<% end %>
