<body id='user-edit-body'>


<div id="user-edit-wrapper">
	<% if current_user.address1 == nil %>
		
		<p class="edit-head">Awesome!</p>
		<p class="edit-head">Now, let's get you setup.</p>
		<p id="edit-instructions">Below, let us know where you live and what we should call you. Don't worry, you can update these details at any time.</p>

	<% else %>

		<header id="edit-header">
			<%= link_to "NEIGHBORINO", root_path, :id => "site-logo" %>
			<ul>
					<li><%=link_to current_user.name, user_path(current_user.id)%> </li>
					<li><%= link_to('sign out', sign_out_path, :method => :delete) %></li>
			</ul>
		</header>
		
		<p class="edit-head">Hey, <%= @user.name %>!</p>
		<p class="edit-head">Need to make a change?</p>
		<p id="edit-instructions">Remember, we need to know where you live and what we should call you.</p>

	<% end %>

	<%= form_for @user, :id => "edit-form", url: {action: 'update'} do |f| %>

		<ul id="edit-list">

			<li>
			<%= f.text_field :name, :class => "input-box", :placeholder => "*USERNAME" %>
			</li>

			<li>
			<%= f.text_field :address1, :class => "input-box", :placeholder => "*STREET" %>
			</li>

			<li>
			<%= f.text_field :city, :class => "input-box", :placeholder => "*CITY" %>
			</li>

			<li>
			<%= f.text_field :state, :class => "input-box", :placeholder => "*STATE/PROVINCE" %>
			</li>

			<li>
			<%= f.text_field :zip, :class => "input-box", :placeholder => "*ZIP CODE" %>
			</li>

		</ul>
			<% if current_user.address1 == nil %>

				<%= f.submit "create account", :class => "edit-submitter" %>

			<% else %>
			
				<%= f.submit "save", :class => "edit-submitter" %>
				<br>
				<%= button_to "delete my account", "user_delete", :class => "edit-submitter", method: :delete %>

		<% end %>

	<% end %>
</div>

</body>
