<div class="wrapper">

<header>
	<%= link_to "NEIGHBORINO", root_path, :id => "site-logo" %>
		<ul>
        <% if current_user.id == @user.id %>
  				<li><%=link_to 'edit my profile', edit_user_path(@user) %> </li>
        <% else %>
          <li><%=link_to current_user.name, user_path(current_user.id) %> </li>
        <% end %>
				<li><%= link_to('sign out', sign_out_path, :method => :delete) %></li>
		</ul>
</header>



<div id="user-bar">
	<img	id="profile-pic" src=<%= @user.profile_pic%> >

	<div id="user-info">
		<p id="user-name-head"><%= @user.name %></p>
		<!-- <p id="user-bio"><%= @user.bio %></p> -->
		<p id="user-location"><%= @user.city %>, <%= @user.state %></p>
		<p><%= link_to "@#{current_user.twitter_handle}", "https://twitter.com/#{current_user.twitter_handle}", :id => "user-twitter-handle" %></p>
	</div>
  <div id="map"></div>
</div>


<% if current_user.id == @user.id %>
	<%= form_for @question do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :address, :value => request.remote_ip %>

			<%= f.label :Latitude %>
			<br>
			<%= f.text_field :latitude, :id => "lat", :placeholder => "latitude" %>
			<br>
			<%= f.label :Longitude %>
			<br>
			<%= f.text_field :longitude, :id => "lng", :placeholder => "longitude" %>
			<br>
			<%= f.label :Question %>
			<br>
			<%= f.text_area :body, :id => "question-box", :placeholder => "Spit it out in 200 characters max.", :maxlength => 200 %>
			<br>
			<%= f.submit "Submit Question" %>
	<% end %>
<% end %>





<script>
      // Note: This will not work unless the page URL begins with "https://"

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 18
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };



            document.getElementById("lat").value = pos.lat;
            document.getElementById("lng").value = pos.lng;

            console.log(pos.lat);
            console.log(pos.lng);





            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }

    </script>





<% @user.questions.each do |q| %>
	<%= link_to q.body, question_path(q.id) %>
	<br>
<% end %>

<br>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY6jcNu9RczD-7e3357IyugkCaG_oAW6Q&callback=initMap">
    </script>

</div>

