<h1><%= @user.name %>'s Questions:</h1>
<img	id="profile-pic" src=<%= @user.profile_pic%>>
<%= @user.bio %>


<div id="map"></div>
    <script>
      // Note: This will not work unless the page URL begins with "https://"

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 6
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            console.log(pos.lat);
            console.log(pos.lng);

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }

    </script>



<% if current_user %>
	<%= form_for @question do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :address, :value => request.remote_ip %>
			<%= f.label :Question %>
			<br>
			<%= f.text_area :body %>
			<br>
			<%= f.submit "Submit Question" %>
	<% end %>
<% end %>

<% @user.questions.each do |q| %>
	<%= link_to q.body, question_path(q.id) %>
	<br>
<% end %>

<br>

<%= link_to "HOME", root_path %>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY6jcNu9RczD-7e3357IyugkCaG_oAW6Q&callback=initMap">
    </script>

