<h1><%= @user.name %>'s Questions:</h1>
<img	id="profile-pic" src=<%= @user.profile_pic%>>
<%= @user.bio %>

<% if current_user %>
	<%= form_for @question do |f| %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :address, :value => request.remote_ip %>
			<%= f.label :Question %>
			<br>
			<%= f.text_area :body %>
			<br>
			<%= f.submit "Submit Question" %>
	<% end %>
<% end %>

<% @user.questions.each do |q| %>
	<%= link_to q.body, question_path(q.id) %>
	<br>
<% end %>

<br>

<%= link_to "HOME", root_path %>
