<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'flanders.ico' %>
	<link href='https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Sue+Ellen+Francisco' rel='stylesheet' type='text/css'>
  <title>Neighborino</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
