<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'flanders.ico' %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300|Khula:300|Roboto:100,300,400,500,700,900|Work+Sans:300|Yanone+Kaffeesatz" rel="stylesheet">
  <title>Neighborino</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      
      #map {
        height: 80%;
      }
    </style>
</head>
<body>

<%= yield %>

</body>
</html>
